.formal {
  font-family: 'Astloch', "Brush Script MT", cursive;
  text-transform: capitalize;
}

footer {
  position: fixed;
  bottom: 0; 
  left: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: crimson;
  width: 100%;
}

footer p{
  margin: 0;
}

header {
  color: crimson;
  font-size: 150%;
  border: 14px solid currentColor;
  width: 150px;
  height: 120px;
  border-radius: 3px;
  display: inline-block;
}

body {
  text-align: center;
  color: white;
  background-image: url("./test.png");
}

.links li{
  margin: 30px auto;
  font-size: 150%;
}

.links ul{
  list-style: none;
  padding-left: 0;
}

.links a{
  background: crimson;
  color: black;
  border: 1px solid currentColor;
  padding: 3px;
  margin: 0 5px;
  border-radius: 3px;
  text-decoration: none;
}

.links a:hover{
  background: transparent;
  color: crimson;
}