.bold {
  font-weight: bold;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.arial {
  font-family: Arial;
}

.formal {
  font-family: "Brush Script MT", cursive;
  text-transform: capitalize;
}

#inttop {
  color: red;
  border: 3px solid currentColor;
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
}


body {
  text-align: center;
  background-image: url("./hypnotize_bg.png");
}

.links li{
  margin: 30px;
  font-size: 150%;
}

.links ul{
  list-style: none;
  padding-left: 0;
}

.links a{
  background: red;
  color: white;
  border: 1px solid currentColor;
  padding: 3px;
  border-radius: 10px;
  text-decoration: none;
}

.links a:hover{
  background: transparent;
  color: red;
}