.bold {
  font-weight: bold;
}

.arial {
  font-family: Arial;
}

.formal {
  font-family: "Brush Script MT", cursive;
  text-transform: capitalize;
}

#inttop {
  color: crimson;
  font-size: 150%;
  border: 13px solid currentColor;
  border-radius: 3px;
  width: 150px;
  margin: 0 auto;
}

body {
  text-align: center;
  color: white;
  background-image: url("./test.png");
}

.links li{
  margin: 30px auto;
  font-size: 150%;
}

.links ul{
  list-style: none;
  padding-left: 0;
}

.links a{
  background: crimson;
  color: black;
  border: 1px solid currentColor;
  padding: 3px;
  border-radius: 10px;
  text-decoration: none;
}

.links a:hover{
  background: transparent;
  color: crimson;
}